.content {
    padding: var(--mainMarginDesktop) calc(var(--mainMarginDesktop)*4) var(--mainMarginDesktop) calc(var(--mainMarginDesktop)*2 + var(--mainSizeNavbar));
    h1{
        text-transform: uppercase;
        color: var(--mainDarkBlue);
        font-size: 4rem;
        margin-bottom: var(--mainMarginDesktop);
    }
    .content__presentation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--mainMarginDesktop);
        .content__img--size{
            min-width: 250px;
            max-width: 250px;
            margin: 0;
            img{
                border-radius: 20px;
                max-width: 250px;
            }
        }
        .content__text{
            min-height: 250px;
            background-color: var(--mainDarkGreen);
            margin-left: var(--mainMarginDesktop);
            border-radius: 20px;
            display: flex;
            align-items: center;
            .content__text--darkgreen{
                color: white;
                padding: var(--mainMarginDesktop);
            }
        }
        
    }
    .content__div--competence{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .actived{
            color: var(--mainDarkBlue);
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
            h2{
                padding: 0 var(--mainMarginDesktop);
            }
        }
        .disactived{
            color: white;
            font-size: 1.5rem;
            text-transform: uppercase;
            text-align: center;
            h2{
                min-height: 250px;
                min-width: 250px;
                max-height: 250px;
                height: 250px;
                border-radius: 20px;
                padding: var(--mainMarginDesktop);
                display: table-cell;
                vertical-align: middle;
                &:hover{
                    transition: background-color .5s;
                    background-color: var(--mainDarkBlueAlpha2);
                    backdrop-filter: blur(2px);
                }
            }
        }
        .content__div--webdesign{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            .content__div--webdesign--text{
                min-height: 250px;
                min-width: 250px;
                max-height: 250px;
                width: 100%;
                margin-right: var(--mainMarginDesktop);
                background: var(--mainGreen);
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 20px;
                .content__div--webdesign--p{
                    display: block;
                    padding: 0 var(--mainMarginDesktop);
                    >ul{
                        >li{
                            color: white;
                            margin-top: calc(var(--mainMarginDesktop)/2);
                            ul{
                                li{
                                    color: var(--mainDarkBlue);
                                }
                            }
                        }
                    }
                }
            }
            .content__div--webdesign--logo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-height: 250px;
                min-width: 250px;
                max-height: 250px;
                border: var(--mainDarkBlue) 3px solid;
                border-radius: 20px;
                >div{
                    display: flex;
                    flex-direction: row;
                    figure{
                        margin: 0;
                        img{
                            max-width: 40px;
                            height: auto;
                            max-height: 40px;
                            width: auto;
                            margin: calc(var(--mainMarginDesktop)/4);
                        }
                    }
                    
                }
            }
        }
        .content__div--communication{
            .content__div--communication--text{
                min-width: 250px;
                min-height: 250px;
                border-radius: 20px;
                margin-left: var(--mainMarginDesktop);
                display: flex;
                flex-direction: column;
                justify-content: center;
                background: url(http://localhost/portfolio/wp-content/uploads/2023/01/bckgrd-bug1-scaled.jpg);
                background-size: contain;
                .content__div--communication--p{
                    display: none;
                    padding: 0 var(--mainMarginDesktop);
                    >ul{
                        >li{
                            color: white;
                            margin-top: calc(var(--mainMarginDesktop)/2);
                            ul{
                                li{
                                    color: var(--mainDarkBlue);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    // .form.wpcf7-form {
    //     // vise form de contact form 7
    // }
    @media (max-width: 1200px){
        padding: var(--mainMarginDesktop) var(--mainMarginDesktop) var(--mainMarginDesktop) calc(var(--mainMarginDesktop)*2 + var(--mainSizeNavbar));
    }
}