.content {
    padding: var(--mainMarginDesktop) calc(var(--mainMarginDesktop)*4) var(--mainMarginDesktop) calc(var(--mainMarginDesktop)*2 + var(--mainSizeNavbar));
    h1{
        text-transform: uppercase;
        color: var(--mainDarkBlue);
        font-size: 4rem;
        margin-bottom: var(--mainMarginDesktop);
    }
    .content__presentation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--mainMarginDesktop);
        .content__img--size{
            min-width: 250px;
            max-width: 250px;
            margin: 0;
            img{
                border-radius: 20px;
                max-width: 250px;
            }
        }
        .content__text{
            min-height: 250px;
            background-color: var(--mainDarkGreen);
            margin-left: var(--mainMarginDesktop);
            border-radius: 20px;
            display: flex;
            align-items: center;
            .content__text--darkgreen{
                color: white;
                padding: var(--mainMarginDesktop);
            }
        }
        
    }
    .content__div--competence{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .content__div--webdesign{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: black 1px solid;
            width: 100%;
            .content__div--webdesign--text{
                min-height: 250px;
                min-width: 250px;
                width: 100%;
                margin-right: var(--mainMarginDesktop);
                border: red 1px solid;
                .content__div--webdesign--p{

                }
            }
            .content__div--webdesign--logo{
                display: flex;
                flex-direction: column;
                min-height: 250px;
                min-width: 250px;
                border: green 1px solid;
                >div{
                    display: flex;
                    flex-direction: row;
                    img{
                        max-width: 40px;
	                    height: auto;
                        max-height: 40px;
                        width: auto;
                    }
                }
            }
        }
        .content__div--communication{
            .content__div--communication--text{
                min-width: 250px;
                min-height: 250px;
                margin-left: var(--mainMarginDesktop);
                border: yellow 1px solid;
                .content__div--communication--p{
                    display: none;
                }
            }
        }
    }
    
    // .form.wpcf7-form {
    //     // vise form de contact form 7
    // }
    @media (max-width: 1200px){
        padding: var(--mainMarginDesktop) var(--mainMarginDesktop) var(--mainMarginDesktop) calc(var(--mainMarginDesktop)*2 + var(--mainSizeNavbar));
    }
}