.content {
  padding: var(--mainMarginDesktop) calc(var(--mainMarginDesktop) * 4) var(--mainMarginDesktop) calc(var(--mainMarginDesktop) * 2 + var(--mainSizeNavbar));
}
.content h1 {
  text-transform: uppercase;
  color: var(--mainDarkBlue);
  font-size: 4rem;
  margin-bottom: var(--mainMarginDesktop);
}
.content > h2 {
  font-size: 2rem;
  color: var(--mainDarkGreen);
  text-transform: uppercase;
  margin-top: var(--mainMarginDesktop);
  margin-bottom: calc(var(--mainMarginDesktop) / 2);
}
.content > h3 {
  font-size: 1.2rem;
  color: var(--mainGreen);
  text-transform: uppercase;
  margin-top: calc(var(--mainMarginDesktop) / 1.5);
  margin-bottom: calc(var(--mainMarginDesktop) / 3);
}
.content > p {
  margin-bottom: calc(var(--mainMarginDesktop) / 4);
}
.content > ul {
  border: solid 3px var(--mainDarkBlue);
  border-radius: 20px;
  padding: calc(var(--mainMarginDesktop) / 2);
  margin-bottom: calc(var(--mainMarginDesktop) / 2);
  margin-top: calc(var(--mainMarginDesktop) / 2);
}
.content > ul > li {
  list-style-type: disclosure-closed;
  margin-left: calc(var(--mainMarginDesktop) / 1.5);
  margin-top: calc(var(--mainMarginDesktop) / 2);
}
.content > ul > li:first-child {
  margin-top: 0;
}
.content > ul > li > ul {
  margin-left: calc(var(--mainMarginDesktop) / 2);
}
.content .content__presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--mainMarginDesktop);
}
.content .content__presentation .content__img--size {
  min-width: 250px;
  max-width: 250px;
  margin: 0;
}
.content .content__presentation .content__img--size img {
  border-radius: 20px;
  max-width: 250px;
}
.content .content__presentation .content__text {
  min-height: 250px;
  background-color: var(--mainDarkGreen);
  margin-left: var(--mainMarginDesktop);
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.content .content__presentation .content__text .content__text--darkgreen {
  color: white;
  padding: var(--mainMarginDesktop);
}
.content .content__div--competence {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content .content__div--competence .actived {
  color: var(--mainDarkBlue);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.content .content__div--competence .actived h2 {
  padding: 0 var(--mainMarginDesktop);
}
.content .content__div--competence .disactived {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}
.content .content__div--competence .disactived h2 {
  min-height: 250px;
  min-width: 250px;
  max-height: 250px;
  height: 250px;
  border-radius: 20px;
  padding: var(--mainMarginDesktop);
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
}
.content .content__div--competence .disactived h2:hover {
  transition: background-color 0.5s;
  background-color: var(--mainDarkBlueAlpha2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.content .content__div--competence .content__div--webdesign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.content .content__div--competence .content__div--webdesign .content__div--webdesign--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}
.content .content__div--competence .content__div--webdesign .content__div--webdesign--text.actived2 {
  min-height: 250px;
  min-width: 250px;
  max-height: 250px;
  width: 100%;
  margin-right: var(--mainMarginDesktop);
  background: var(--mainGreen);
}
.content .content__div--competence .content__div--webdesign .content__div--webdesign--text.disactived2 {
  min-height: 250px;
  min-width: 250px;
  max-height: 250px;
  max-width: 250px;
  margin-right: var(--mainMarginDesktop);
  width: 100%;
  background: url(http://localhost/portfolio/wp-content/uploads/2023/01/bckgrd-bug2-scaled.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.content .content__div--competence .content__div--webdesign .content__div--webdesign--text .content__div--webdesign--p {
  display: block;
  padding: 0 var(--mainMarginDesktop);
}
.content .content__div--competence .content__div--webdesign .content__div--webdesign--text .content__div--webdesign--p > ul > li {
  color: white;
  margin-top: calc(var(--mainMarginDesktop) / 2);
}
.content .content__div--competence .content__div--webdesign .content__div--webdesign--text .content__div--webdesign--p > ul > li ul li {
  color: var(--mainDarkBlue);
}
.content .content__div--competence .content__div--webdesign .content__div--webdesign--logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  min-width: 250px;
  max-height: 250px;
  width: 250px;
  border: var(--mainDarkBlue) 3px solid;
  border-radius: 20px;
}
.content .content__div--competence .content__div--webdesign .content__div--webdesign--logo > div {
  display: flex;
  flex-direction: row;
  padding: 0 var(--mainMarginDesktop);
}
.content .content__div--competence .content__div--webdesign .content__div--webdesign--logo > div figure {
  margin: 0;
}
.content .content__div--competence .content__div--webdesign .content__div--webdesign--logo > div figure img {
  max-width: 40px;
  height: auto;
  max-height: 40px;
  width: auto;
  margin: calc(var(--mainMarginDesktop) / 4);
}
.content .content__div--competence .content__div--communication .content__div--communication--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}
.content .content__div--competence .content__div--communication .content__div--communication--text.disactived2 {
  min-width: 250px;
  min-height: 250px;
  margin-left: var(--mainMarginDesktop);
  background: url(http://localhost/portfolio/wp-content/uploads/2023/01/bckgrd-bug1-1-scaled-e1673789660900.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.content .content__div--competence .content__div--communication .content__div--communication--text.actived2 {
  min-height: 250px;
  min-width: 250px;
  max-height: 250px;
  width: calc(100vw - (var(--mainMarginDesktop) * 2 + var(--mainSizeNavbar) + 250px + var(--mainMarginDesktop) * 5));
  margin-right: var(--mainMarginDesktop);
  background: var(--mainGreen);
}
.content .content__div--competence .content__div--communication .content__div--communication--text .content__div--communication--p {
  display: none;
  padding: 0 var(--mainMarginDesktop);
}
.content .content__div--competence .content__div--communication .content__div--communication--text .content__div--communication--p > ul > li {
  color: white;
  margin-top: calc(var(--mainMarginDesktop) / 2);
}
.content .content__div--competence .content__div--communication .content__div--communication--text .content__div--communication--p > ul > li ul li {
  color: var(--mainDarkBlue);
}
.content .contact-infos {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 3px var(--mainGreen);
  padding: var(--mainMarginDesktop);
  border-radius: 20px;
  margin-bottom: var(--mainMarginDesktop);
}
.content .contact-infos > div {
  display: flex;
  flex-direction: row;
}
.content .contact-infos > div:last-child {
  margin-top: calc(var(--mainMarginDesktop) * 2);
}
.content .contact-infos > div > div {
  width: 50%;
  display: flex;
  align-items: center;
}
.content .contact-infos > div > div .contact-logo {
  margin: 0 10px 0 0;
}
.content .contact-infos > div > div .contact-logo img {
  max-height: calc(var(--mainMarginDesktop) + var(--mainMarginDesktop) / 2);
  min-width: calc(var(--mainMarginDesktop) + var(--mainMarginDesktop) / 2);
  -o-object-fit: contain;
     object-fit: contain;
}
.content .contact-infos > div > div p a {
  padding-right: 10px;
  color: var(--mainDarkBlue);
}
.content .contact-infos > div > div p a:hover {
  color: var(--mainGreen);
}
.content .contact-infos > div > div .contact-share {
  margin: 0;
}
.content .contact-infos > div > div .contact-share img {
  width: 20px;
}
.content .wpcf7-form {
  width: 100%;
  background-color: var(--mainDarkGreen);
  border-radius: 20px;
  padding: var(--mainMarginDesktop);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}
.content .wpcf7-form .contact-who {
  display: flex;
  flex-direction: row;
}
.content .wpcf7-form .contact-who p {
  width: 50%;
}
.content .wpcf7-form .contact-who p:first-child {
  margin-right: calc(var(--mainMarginDesktop) / 2);
}
.content .wpcf7-form .contact-who p:last-child {
  margin-left: calc(var(--mainMarginDesktop) / 2);
}
.content .wpcf7-form p {
  color: white;
}
.content .wpcf7-form p label span input {
  color: var(--mainDarkBlue);
  background-color: var(--mainDarkGreenLight);
  width: 100%;
  min-height: calc(var(--mainMarginDesktop) + var(--mainMarginDesktop) / 4);
  padding-left: 5px;
  margin-top: 5px;
}
.content .wpcf7-form p label span input:focus {
  background-color: white;
}
.content .wpcf7-form p label span textarea {
  color: var(--mainDarkBlue);
  background-color: var(--mainDarkGreenLight);
  width: 100%;
  min-height: calc(var(--mainMarginDesktop) + var(--mainMarginDesktop) / 4);
  padding-left: 5px;
  padding-top: 3px;
  margin-top: 5px;
}
.content .wpcf7-form p label span textarea:focus {
  background-color: white;
}
.content .wpcf7-form > p {
  margin-top: var(--mainMarginDesktop);
}
.content .wpcf7-form .contact-send p {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--mainMarginDesktop);
}
.content .wpcf7-form .contact-send p .wpcf7-submit {
  padding: 15px 40px;
  background-color: var(--mainDarkGreenLight);
}
.content .wpcf7-form .contact-send p .wpcf7-submit:hover {
  background-color: var(--mainGreen);
}
.content .error-text {
  margin-bottom: var(--mainMarginDesktop);
}
.content .error-return-home {
  padding: 5px 20px;
  background-color: var(--mainDarkGreen);
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
}
.content .error-return-home:hover {
  background-color: var(--mainGreen);
}
@media (max-width: 1400px) {
  .content {
    padding: var(--mainMarginDesktop) var(--mainMarginDesktop) var(--mainMarginDesktop) calc(var(--mainMarginDesktop) * 2 + var(--mainSizeNavbar));
  }
  .content .content__div--competence .content__div--communication .content__div--communication--text.actived2 {
    width: calc(100vw - (var(--mainMarginDesktop) * 2 + var(--mainSizeNavbar) + 250px + var(--mainMarginDesktop) * 2));
  }
}
@media (max-width: 1250px) {
  .content .content__div--competence {
    flex-direction: column;
    justify-content: center;
  }
  .content .content__div--competence .disactived h2 {
    height: calc(var(--mainMarginDesktop) * 2);
    width: calc(100vw - (var(--mainMarginDesktop) + var(--mainMarginDesktop) * 2 + var(--mainSizeNavbar)));
    min-height: 0;
    padding: 0;
    height: calc(var(--mainMarginDesktop) * 4);
  }
  .content .content__div--competence .content__div--webdesign {
    margin-bottom: var(--mainMarginDesktop);
  }
  .content .content__div--competence .content__div--webdesign .content__div--webdesign--text.disactived2 {
    min-height: 0;
    min-width: 250px;
    max-height: 100%;
    height: calc(var(--mainMarginDesktop) * 4);
    max-width: 100%;
    margin-right: 0;
  }
  .content .content__div--competence .content__div--communication .content__div--communication--text.disactived2 {
    margin: 0;
    width: calc(100vw - (var(--mainMarginDesktop) + var(--mainMarginDesktop) * 2 + var(--mainSizeNavbar)));
    height: calc(var(--mainMarginDesktop) * 4);
    min-height: 0;
  }
  .content .content__div--competence .content__div--communication .content__div--communication--text.actived2 {
    width: calc(100vw - (var(--mainMarginDesktop) * 2 + var(--mainSizeNavbar) + var(--mainMarginDesktop)));
    margin-right: 0;
  }
}
@media (max-width: 1000px) {
  .content {
    padding: calc(var(--mainMarginDesktop) * 2.5) var(--mainMarginDesktop) var(--mainMarginDesktop) var(--mainMarginDesktop);
  }
  .content .content__div--competence .disactived h2 {
    width: calc(100vw - var(--mainMarginDesktop) * 2);
  }
  .content .content__div--competence .content__div--webdesign {
    margin-bottom: var(--mainMarginDesktop);
  }
  .content .content__div--competence .content__div--communication .content__div--communication--text.disactived2 {
    width: calc(100vw - var(--mainMarginDesktop) * 2);
  }
  .content .content__div--competence .content__div--communication .content__div--communication--text.actived2 {
    width: calc(100vw - var(--mainMarginDesktop) * 2);
  }
}
@media (max-width: 900px) {
  .content h1 {
    font-size: 2.8rem;
  }
  .content > h2 {
    font-size: 1.5rem;
  }
  .content .content__presentation {
    flex-direction: column;
  }
  .content .content__presentation .content__img--size {
    margin-bottom: var(--mainMarginDesktop);
  }
  .content .content__presentation .content__text {
    margin: 0;
  }
  .content .content__div--competence .actived h2 {
    padding: 0;
  }
  .content .content__div--competence .content__div--webdesign {
    flex-direction: column;
  }
  .content .content__div--competence .content__div--webdesign .content__div--webdesign--text {
    margin-bottom: var(--mainMarginDesktop);
    max-height: 100%;
    padding: var(--mainMarginDesktop);
  }
  .content .content__div--competence .content__div--webdesign .content__div--webdesign--text .content__div--webdesign--p {
    padding: 0;
  }
  .content .content__div--competence .content__div--webdesign .content__div--webdesign--text.actived2 {
    min-height: auto;
    min-width: auto;
    max-height: 100%;
  }
  .content .content__div--competence .content__div--webdesign .content__div--webdesign--text.disactived2 {
    margin-bottom: 0;
  }
  .content .content__div--competence .content__div--webdesign .content__div--webdesign--logo {
    width: calc(100vw - var(--mainMarginDesktop) * 2);
    height: auto;
    min-width: auto;
    min-height: auto;
    max-height: auto;
    padding: var(--mainMarginDesktop);
  }
  .content .content__div--competence .content__div--webdesign .content__div--webdesign--logo > div {
    padding: 0;
  }
  .content .content__div--competence .content__div--communication .content__div--communication--text.actived2 {
    margin-bottom: 0;
    max-height: 100%;
    padding: var(--mainMarginDesktop);
  }
  .content .content__div--competence .content__div--communication .content__div--communication--text.actived2 .content__div--communication--p {
    padding: 0;
  }
  .content .content__div--competence .content__div--communication .content__div--communication--text.disactived2 {
    min-width: auto;
  }
  .content .wpcf7-form .contact-who {
    display: flex;
    flex-direction: column;
  }
  .content .wpcf7-form .contact-who p {
    width: 100%;
  }
  .content .wpcf7-form .contact-who p:first-child {
    margin-right: 0;
  }
  .content .wpcf7-form .contact-who p:last-child {
    margin-left: 0;
    margin-top: var(--mainMarginDesktop);
  }
  .content .wpcf7-form .contact-send p {
    justify-content: center;
  }
  .content .wpcf7-form .contact-send p .wpcf7-submit {
    width: 100%;
    height: calc(var(--mainMarginDesktop) + var(--mainMarginDesktop) / 2);
    padding: 0;
  }
}
@media (max-width: 750px) {
  .content .contact-infos > div {
    flex-direction: column;
    justify-content: center;
  }
  .content .contact-infos > div:last-child {
    margin-top: calc(var(--mainMarginDesktop) + var(--mainMarginDesktop) / 2);
  }
  .content .contact-infos > div > div {
    justify-content: center;
    width: 100%;
  }
  .content .contact-infos > div > div:last-child {
    margin-top: calc(var(--mainMarginDesktop) + var(--mainMarginDesktop) / 2);
  }
}
@media (max-width: 450px) {
  .content h1 {
    font-size: 2rem;
  }
  .content h2 {
    font-size: 1.2rem;
  }
  .content > h3 {
    font-size: 1rem;
  }
  .content p {
    font-size: 0.9rem;
  }
  .content li {
    font-size: 0.9rem;
  }
  .content .contact-infos {
    flex-direction: row;
    width: 100%;
  }
  .content .contact-infos > div {
    flex-direction: row;
    width: 66.6%;
  }
  .content .contact-infos > div:last-child {
    margin-top: 0;
  }
  .content .contact-infos > div > div .contact-logo {
    margin: 0;
  }
  .content .contact-infos > div > div .contact-logo img {
    max-height: calc(var(--mainMarginDesktop) + var(--mainMarginDesktop) / 4);
    min-width: calc(var(--mainMarginDesktop) + var(--mainMarginDesktop) / 4);
    -o-object-fit: contain;
       object-fit: contain;
  }
  .content .contact-infos > div > div p {
    display: none;
  }
  .content .contact-infos > div > div .contact-share {
    display: none;
  }
  .content .contact-infos > div > div:last-child {
    margin-top: 0;
  }
  .content .contact-infos > div .contact-where {
    display: none;
  }
  .content .contact-infos > div:last-child {
    width: 33.3%;
  }
  .content .wpcf7-form {
    padding: calc(var(--mainMarginDesktop) - var(--mainMarginDesktop) / 3);
  }
}
@media (max-width: 350px) {
  .content .contact-infos {
    flex-direction: column;
  }
  .content .contact-infos > div {
    width: 100%;
  }
  .content .contact-infos > div:last-child {
    width: 100%;
    margin-top: calc(var(--mainMarginDesktop) * 2);
  }
}/*# sourceMappingURL=content.css.map */