.content {
    padding: var(--mainMarginDesktop) calc(var(--mainMarginDesktop)*4) var(--mainMarginDesktop) calc(var(--mainMarginDesktop)*2 + var(--mainSizeNavbar));
    h1{
        text-transform: uppercase;
        color: var(--mainDarkBlue);
        font-size: 4rem;
        margin-bottom: var(--mainMarginDesktop);
    }
    .content__presentation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--mainMarginDesktop);
        .content__img--size{
            min-width: 250px;
            max-width: 250px;
            margin: 0;
            img{
                border-radius: 20px;
                max-width: 250px;
            }
        }
        .content__text{
            min-height: 250px;
            background-color: var(--mainDarkGreen);
            margin-left: var(--mainMarginDesktop);
            border-radius: 20px;
            display: flex;
            align-items: center;
            .content__text--darkgreen{
                color: white;
                padding: var(--mainMarginDesktop);
            }
        }
        
    }
    .content__div--competence{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .actived{
            color: var(--mainDarkBlue);
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
            h2{
                padding: 0 var(--mainMarginDesktop);
            }
        }
        .disactived{
            color: white;
            font-size: 1.5rem;
            text-transform: uppercase;
            text-align: center;
            h2{
                min-height: 250px;
                min-width: 250px;
                max-height: 250px;
                height: 250px;
                border-radius: 20px;
                padding: var(--mainMarginDesktop);
                display: table-cell;
                vertical-align: middle;
                cursor: pointer;
                text-shadow: 1px 1px 2px black;
                &:hover{
                    transition: background-color .5s;
                    background-color: var(--mainDarkBlueAlpha2);
                    backdrop-filter: blur(2px);
                }
            }
        }
        .content__div--webdesign{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            .content__div--webdesign--text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 20px;
                &.actived2{
                    min-height: 250px;
                    min-width: 250px;
                    max-height: 250px;
                    width: 100%;
                    margin-right: var(--mainMarginDesktop);
                    background: var(--mainGreen);
                }
                &.disactived2{
                    min-height: 250px;
                    min-width: 250px;
                    max-height: 250px;
                    max-width: 250px;
                    margin-right: var(--mainMarginDesktop);
                    width: 100%;
                    background: url(http://localhost/portfolio/wp-content/uploads/2023/01/bckgrd-bug2-scaled.jpg) no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                .content__div--webdesign--p{
                    display: block;
                    padding: 0 var(--mainMarginDesktop);
                    >ul{
                        >li{
                            color: white;
                            margin-top: calc(var(--mainMarginDesktop)/2);
                            ul{
                                li{
                                    color: var(--mainDarkBlue);
                                }
                            }
                        }
                    }
                }
            }
            .content__div--webdesign--logo{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                min-height: 250px;
                min-width: 250px;
                max-height: 250px;
                width: 250px;
                border: var(--mainDarkBlue) 3px solid;
                border-radius: 20px;
                >div{
                    display: flex;
                    flex-direction: row;
                    padding: 0 var(--mainMarginDesktop);
                    figure{
                        margin: 0;
                        img{
                            max-width: 40px;
                            height: auto;
                            max-height: 40px;
                            width: auto;
                            margin: calc(var(--mainMarginDesktop)/4);
                        }
                    }
                    
                }
            }
        }
        .content__div--communication{
            .content__div--communication--text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 20px;
                &.disactived2{
                    min-width: 250px;
                    min-height: 250px;
                    margin-left: var(--mainMarginDesktop);
                    background: url(http://localhost/portfolio/wp-content/uploads/2023/01/bckgrd-bug1-1-scaled-e1673789660900.jpg) no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                &.actived2{
                    min-height: 250px;
                    min-width: 250px;
                    max-height: 250px;
                    width: calc(100vw - (calc(var(--mainMarginDesktop)*2 + var(--mainSizeNavbar)) + 250px + calc(var(--mainMarginDesktop) * 5)));
                    margin-right: var(--mainMarginDesktop);
                    background: var(--mainGreen);
                }
                .content__div--communication--p{
                    display: none;
                    padding: 0 var(--mainMarginDesktop);
                    >ul{
                        >li{
                            color: white;
                            margin-top: calc(var(--mainMarginDesktop)/2);
                            ul{
                                li{
                                    color: var(--mainDarkBlue);
                                }
                            }
                        }
                    }
                }
            }
        }
    } 
    .wpcf7-form {
        width: 100%;
        background-color: var(--mainDarkGreen);
        border-radius: 20px;
        padding: var(--mainMarginDesktop);
        display: flex;
        flex-direction: column;
        .contact-who{
            display: flex;
            flex-direction: row;
            p{
                width: 50%;
                &:first-child{
                    margin-right: calc(var(--mainMarginDesktop) /2);
                }
                &:last-child{
                    margin-left: calc(var(--mainMarginDesktop) /2);
                }
            }
        }
        p{
            color: white;
            label{
                span{
                    input{
                        color: var(--mainDarkBlue);
                        background-color: var(--mainDarkGreenLight);
                        width: 100%;
                        min-height: var(--mainMarginDesktop);
                        padding-left: 5px;
                        margin-top: 5px;
                        &:focus{
                            background-color: white;
                        }
                    }
                    textarea{
                        color: var(--mainDarkBlue);
                        background-color: var(--mainDarkGreenLight);
                        width: 100%;
                        min-height: var(--mainMarginDesktop);
                        padding-left: 5px;
                        padding-top: 3px;
                        margin-top: 5px;
                        &:focus{
                            background-color: white;
                        } 
                    }
                }
            }
        }
        >p{
            margin-top: var(--mainMarginDesktop);
        }
        .contact-send{
            p{
                display: flex;
                justify-content: flex-end;
                margin-top: var(--mainMarginDesktop);
                .wpcf7-submit{
                    padding: 15px 40px;
                    background-color: var(--mainDarkGreenLight);
                    &:hover{
                        background-color: var(--mainGreen);
                    }
                }
            }
        }
    }
    .error-text{
        margin-bottom: var(--mainMarginDesktop);
    }
    .error-return-home{
        padding: 5px 20px;
        background-color: var(--mainDarkGreen);
        color: white;
        font-size: 1.2rem;
        border-radius: 10px;
        &:hover{
            background-color: var(--mainGreen);
        }
    }
    @media (max-width: 1400px){
        padding: var(--mainMarginDesktop) var(--mainMarginDesktop) var(--mainMarginDesktop) calc(var(--mainMarginDesktop)*2 + var(--mainSizeNavbar));
        .content__div--competence{
            .content__div--communication{
                .content__div--communication--text{
                    &.actived2{
                        width: calc(100vw - (calc(var(--mainMarginDesktop)*2 + var(--mainSizeNavbar)) + 250px + calc(var(--mainMarginDesktop) * 2)));
                    }
                }
            }
        }
    }
    @media (max-width: 1250px){
        .content__div--competence{
            flex-direction: column;
            justify-content: center;
            .disactived{
                h2{
                    height: calc(var(--mainMarginDesktop) * 2);
                    width: calc(100vw - (var(--mainMarginDesktop) + calc(var(--mainMarginDesktop)*2 + var(--mainSizeNavbar))));
                    min-height: 0;
                    padding: 0;
                    height: calc(var(--mainMarginDesktop) * 4);
                }
            }
            .content__div--webdesign{
                margin-bottom: var(--mainMarginDesktop);
                .content__div--webdesign--text{
                    &.disactived2{
                        min-height: 0;
                        min-width: 250px;
                        max-height: 100%;
                        height: calc(var(--mainMarginDesktop) * 4);
                        max-width: 100%;
                        margin-right: 0;
                    }
                }
            }
            .content__div--communication{
                .content__div--communication--text{
                    &.disactived2{
                        margin: 0;
                        width: calc(100vw - (var(--mainMarginDesktop) + calc(var(--mainMarginDesktop)*2 + var(--mainSizeNavbar))));
                        height: calc(var(--mainMarginDesktop) * 4);
                        min-height: 0;
                    }
                    &.actived2{
                        width: calc(100vw - (calc(var(--mainMarginDesktop)*2 + var(--mainSizeNavbar)) + var(--mainMarginDesktop)));
                        margin-right: 0;
                    }
                }
            }
        }
    }
    @media (max-width: 1000px){
        padding: calc(var(--mainMarginDesktop) * 2) var(--mainMarginDesktop) var(--mainMarginDesktop) var(--mainMarginDesktop); 
        .content__div--competence{
            .disactived{
                h2{
                    width: calc(100vw - calc(var(--mainMarginDesktop)*2));
                }
            }
            .content__div--webdesign{
                margin-bottom: var(--mainMarginDesktop);
            }
            .content__div--communication{
                .content__div--communication--text{
                    &.disactived2{
                        width: calc(100vw - calc(var(--mainMarginDesktop)*2));
                    }
                    &.actived2{
                        width: calc(100vw - calc(var(--mainMarginDesktop) * 2));
                    }
                }
            }
        }    
    }
    @media (max-width: 900px){
        h1{
            font-size: 2.8rem;
        }
        .content__presentation{
            flex-direction: column;
            .content__img--size{
                margin-bottom: var(--mainMarginDesktop);
            }
            .content__text{
                margin: 0;
            }
        }
        .content__div--competence{
            .actived{
                h2{
                    padding: 0;
                }
            }
            .content__div--webdesign{
                flex-direction: column;
                .content__div--webdesign--text{
                    margin-bottom: var(--mainMarginDesktop);
                    max-height: 100%;
                    padding: var(--mainMarginDesktop);
                    .content__div--webdesign--p{
                        padding: 0;
                    }
                    &.disactived2{
                        margin-bottom: 0;
                    }
                }
                .content__div--webdesign--logo{
                    width: calc(100vw - calc(var(--mainMarginDesktop)*2));
                    height: auto;
                    min-height: auto;
                    max-height: auto;
                    padding: var(--mainMarginDesktop);
                    >div{
                        padding: 0;
                    }
                }
            }
            .content__div--communication{
                .content__div--communication--text{
                    &.actived2{
                        margin-bottom: 0;
                        max-height: 100%;
                        padding: var(--mainMarginDesktop);
                        .content__div--communication--p{
                            padding: 0;
                        }
                    }
                }
            }
        }  
    }
    @media (max-width: 450px){
        h1{
            font-size: 2rem;
        }
        h2{
            font-size: 1.2rem;
        }
        p{
            font-size: 0.8rem;
        }
        li{
            font-size: 0.8rem;
        }
    }
}
