.content {
  padding: var(--mainMarginDesktop) calc(var(--mainMarginDesktop) * 4) var(--mainMarginDesktop) calc(var(--mainMarginDesktop) * 2 + var(--mainSizeNavbar));
}
.content h1 {
  text-transform: uppercase;
  color: var(--mainDarkBlue);
  font-size: 4rem;
  margin-bottom: var(--mainMarginDesktop);
}
.content .content__presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--mainMarginDesktop);
}
.content .content__presentation .content__img--size {
  min-width: 250px;
  max-width: 250px;
  margin: 0;
}
.content .content__presentation .content__img--size img {
  border-radius: 20px;
  max-width: 250px;
}
.content .content__presentation .content__text {
  min-height: 250px;
  background-color: var(--mainDarkGreen);
  margin-left: var(--mainMarginDesktop);
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.content .content__presentation .content__text .content__text--darkgreen {
  color: white;
  padding: var(--mainMarginDesktop);
}
.content .content__div--competence {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content .content__div--competence .actived {
  color: var(--mainDarkBlue);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.content .content__div--competence .actived h2 {
  padding: 0 var(--mainMarginDesktop);
}
.content .content__div--competence .disactived {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}
.content .content__div--competence .disactived h2 {
  min-height: 250px;
  min-width: 250px;
  max-height: 250px;
  height: 250px;
  border-radius: 20px;
  padding: var(--mainMarginDesktop);
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
}
.content .content__div--competence .disactived h2:hover {
  transition: background-color 0.5s;
  background-color: var(--mainDarkBlueAlpha2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.content .content__div--competence .content__div--webdesign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.content .content__div--competence .content__div--webdesign .content__div--webdesign--text {
  min-height: 250px;
  min-width: 250px;
  max-height: 250px;
  width: 100%;
  margin-right: var(--mainMarginDesktop);
  background: var(--mainGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}
.content .content__div--competence .content__div--webdesign .content__div--webdesign--text .content__div--webdesign--p {
  display: block;
  padding: 0 var(--mainMarginDesktop);
}
.content .content__div--competence .content__div--webdesign .content__div--webdesign--text .content__div--webdesign--p > ul > li {
  color: white;
  margin-top: calc(var(--mainMarginDesktop) / 2);
}
.content .content__div--competence .content__div--webdesign .content__div--webdesign--text .content__div--webdesign--p > ul > li ul li {
  color: var(--mainDarkBlue);
}
.content .content__div--competence .content__div--webdesign .content__div--webdesign--logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  min-width: 250px;
  max-height: 250px;
  width: 250px;
  border: var(--mainDarkBlue) 3px solid;
  border-radius: 20px;
}
.content .content__div--competence .content__div--webdesign .content__div--webdesign--logo > div {
  display: flex;
  flex-direction: row;
  padding: 0 var(--mainMarginDesktop);
}
.content .content__div--competence .content__div--webdesign .content__div--webdesign--logo > div figure {
  margin: 0;
}
.content .content__div--competence .content__div--webdesign .content__div--webdesign--logo > div figure img {
  max-width: 40px;
  height: auto;
  max-height: 40px;
  width: auto;
  margin: calc(var(--mainMarginDesktop) / 4);
}
.content .content__div--competence .content__div--communication .content__div--communication--text {
  min-width: 250px;
  min-height: 250px;
  border-radius: 20px;
  margin-left: var(--mainMarginDesktop);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(http://localhost/portfolio/wp-content/uploads/2023/01/bckgrd-bug1-1-scaled-e1673789660900.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.content .content__div--competence .content__div--communication .content__div--communication--text .content__div--communication--p {
  display: none;
  padding: 0 var(--mainMarginDesktop);
}
.content .content__div--competence .content__div--communication .content__div--communication--text .content__div--communication--p > ul > li {
  color: white;
  margin-top: calc(var(--mainMarginDesktop) / 2);
}
.content .content__div--competence .content__div--communication .content__div--communication--text .content__div--communication--p > ul > li ul li {
  color: var(--mainDarkBlue);
}
@media (max-width: 1400px) {
  .content {
    padding: var(--mainMarginDesktop) var(--mainMarginDesktop) var(--mainMarginDesktop) calc(var(--mainMarginDesktop) * 2 + var(--mainSizeNavbar));
  }
}
@media (max-width: 1250px) {
  .content .content__div--competence {
    flex-direction: column;
    justify-content: center;
  }
  .content .content__div--competence .disactived h2 {
    height: calc(var(--mainMarginDesktop) * 2);
    width: calc(100vw - (var(--mainMarginDesktop) + var(--mainMarginDesktop) * 2 + var(--mainSizeNavbar)));
    min-height: 0;
    padding: 0;
    height: calc(var(--mainMarginDesktop) * 4);
  }
  .content .content__div--competence .content__div--webdesign {
    margin-bottom: var(--mainMarginDesktop);
  }
  .content .content__div--competence .content__div--communication .content__div--communication--text {
    margin: 0;
    width: calc(100vw - (var(--mainMarginDesktop) + var(--mainMarginDesktop) * 2 + var(--mainSizeNavbar)));
    height: calc(var(--mainMarginDesktop) * 4);
    min-height: 0;
  }
}
@media (max-width: 1000px) {
  .content {
    padding: calc(var(--mainMarginDesktop) * 2) var(--mainMarginDesktop) var(--mainMarginDesktop) var(--mainMarginDesktop);
  }
  .content .content__div--competence .disactived h2 {
    width: calc(100vw - var(--mainMarginDesktop) * 2);
  }
  .content .content__div--competence .content__div--webdesign {
    margin-bottom: var(--mainMarginDesktop);
  }
  .content .content__div--competence .content__div--communication .content__div--communication--text {
    width: calc(100vw - var(--mainMarginDesktop) * 2);
  }
}
@media (max-width: 900px) {
  .content h1 {
    font-size: 2.8rem;
  }
  .content .content__presentation {
    flex-direction: column;
  }
  .content .content__presentation .content__img--size {
    margin-bottom: var(--mainMarginDesktop);
  }
  .content .content__presentation .content__text {
    margin: 0;
  }
  .content .content__div--competence .actived h2 {
    padding: 0;
  }
  .content .content__div--competence .content__div--webdesign {
    flex-direction: column;
  }
  .content .content__div--competence .content__div--webdesign .content__div--webdesign--text {
    margin-bottom: var(--mainMarginDesktop);
    max-height: 100%;
    padding: var(--mainMarginDesktop);
  }
  .content .content__div--competence .content__div--webdesign .content__div--webdesign--text .content__div--webdesign--p {
    padding: 0;
  }
  .content .content__div--competence .content__div--webdesign .content__div--webdesign--logo {
    width: calc(100vw - var(--mainMarginDesktop) * 2);
    height: auto;
    min-height: auto;
    max-height: auto;
    padding: var(--mainMarginDesktop);
  }
  .content .content__div--competence .content__div--webdesign .content__div--webdesign--logo > div {
    padding: 0;
  }
}
@media (max-width: 400px) {
  .content h1 {
    font-size: 2rem;
  }
  .content h2 {
    font-size: 1.2rem;
  }
  .content p {
    font-size: 0.8rem;
  }
  .content li {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=content.css.map */