footer{
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    .footer__contact{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 var(--mainMarginDesktop);
        img{
            width: calc(var(--mainMarginDesktop)*2);
            transition: transform .2s;
            position: relative;
            &:first-child{
                margin-bottom: calc(var(--mainMarginDesktop)/4);
            }
            &:last-child{
                margin-top: calc(var(--mainMarginDesktop)/4);
            }
            &:hover{
                transform: translate(-10px, 0);
            }
        }
    }
    @media (max-width: 1200px){
        height: auto;
        position: relative;
        margin-left: calc(var(--mainMarginDesktop)*2 + var(--mainSizeNavbar));
        margin-right: var(--mainMarginDesktop);
        .footer__contact{
            height: auto;
            flex-direction: row;
            padding: calc(var(--mainMarginDesktop)/2) 0;
            img{
                &:first-child{
                    margin-bottom: 0;
                    margin-right: calc(var(--mainMarginDesktop)/4);
                }
                &:last-child{
                    margin-top: 0;
                    margin-left: calc(var(--mainMarginDesktop)/4);
                }
                &:hover{
                    transform: translate(0, -10px);
                }
            }
        }
    }
    @media (max-width: 1000px){
        margin-left: calc(var(--mainMarginDesktop));
    }
}
