.content{
    .article--diaporama{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .article--diaporama__image{
            background-color: var(--mainDarkGreen);
            width: 90%;
            padding: var(--mainMarginDesktop) var(--mainMarginDesktop) 0 var(--mainMarginDesktop);
            border-radius: 20px;
            figure{
                margin: 0;
                img{
                    margin-bottom: var(--mainMarginDesktop);
                }
                figcaption{
                    text-align: center;
                    color: white;
                }
            }
        }
        .article--diaporama__animation{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 75%;
            margin-top: calc(var(--mainMarginDesktop) /2);
            .prev, .next {
                cursor: pointer;
                width: 40px;
                height: 40px;
                color: var(--mainDarkBlue);
                font-weight: bold;
                font-size: 24px;
                transition: 0.6s ease;
                border: 3px var(--mainDarkBlue) solid;
                border-radius: 100px;
                user-select: none;
                text-align: center;
                transition: transform .2s;
                &:hover{
                    background-color: var(--mainDarkBlue);
                    color: white;
                }
            }
            .prev{
                &:hover{
                    transform: translate(-5px, 0);
                }
            }
            .next{
                &:hover{
                    transform: translate(5px, 0);
                }
            }
            .dot {
                cursor: pointer;
                height: 10px;
                width: 10px;
                margin: 0 3px;
                background-color: var(--mainDarkBlueAlpha2);
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }
            
            .active, .dot:hover {
                background-color: var(--mainDarkBlueAlpha3);
            }
        }
    }
    .wp-block-embed-youtube{
        background-color: black;
        width: 90%;
        border-radius: 20px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: calc(var(--mainMarginDesktop) / 2);
        margin-top: calc(var(--mainMarginDesktop) / 2);
        .wp-block-embed__wrapper{
            display: flex;
            justify-content: center;
            iframe{
                width: 90%;
                border-radius: 20px;
            }
        }
    }
    .wp-block-audio{
        margin-bottom: calc(var(--mainMarginDesktop) / 2);
        margin-top: calc(var(--mainMarginDesktop) / 2);
        audio{
            min-width: 0;
            &::-webkit-media-controls-panel{
                background-color: var(--mainGreen);
            }
        }
    }
    .related_posts{
        border-top: solid 3px var(--mainDarkGreen);
        margin-top: calc(var(--mainMarginDesktop) * 2);
        margin-bottom: calc(var(--mainMarginDesktop));
        h2{
            color: var(--mainDarkBlue);
            font-size: 2rem;
            margin-top: calc(var(--mainMarginDesktop) / 2);
        }
        ul{
            margin-top: calc(var(--mainMarginDesktop) / 2);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            li{
                width: 250px;
                margin-right: calc(var(--mainMarginDesktop) / 2);
                margin-left: calc(var(--mainMarginDesktop) / 2);
                div{
                    a{
                        img{
                            width: 250px;
                            height: 250px;
                            border-radius: 20px;
                            transition: transform 0.5s;
                            &:hover{
                                transform: scale(1.05);
                            }
                        }
                    }
                    h4{
                        margin: 10px 0 0 0;
                        text-align: center;
                    }
                }
            }
        }
    }
    @media (max-width: 1400px){
        .related_posts{
            margin-bottom: 0;
        }
    }
    @media (max-width: 750px){
        .article--diaporama{
            width: 100%;
            .article--diaporama__image{
                width: 100%;
                padding: calc(var(--mainMarginDesktop) / 2) calc(var(--mainMarginDesktop) / 2) 0 calc(var(--mainMarginDesktop) / 2);
                figure{
                    figcaption{
                        font-size: 0.8rem;
                    }
                }
            }
            .article--diaporama__animation{
                width: 100%;
            }
        }
        .wp-block-embed-youtube{
            width: 100%;
        }
        .wp-block-audio{
            audio{
                &::-webkit-media-controls-current-time-display {
                    font-size: 0.7rem;
                }
                &::-webkit-media-controls-time-remaining-display {
                    font-size: 0.7rem;
                }
            }
        }
    }
}