.content{
    .article--diaporama{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .article--diaporama__image{
            background-color: var(--mainDarkGreen);
            width: 75%;
            padding: var(--mainMarginDesktop) var(--mainMarginDesktop) 0 var(--mainMarginDesktop);
            border-radius: 20px;
            figure{
                margin: 0;
                img{
                    margin-bottom: var(--mainMarginDesktop);
                }
                figcaption{
                    text-align: center;
                    color: white;
                }
            }
        }
        .article--diaporama__animation{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 75%;
            margin-top: calc(var(--mainMarginDesktop) /2);
            .prev, .next {
                cursor: pointer;
                width: 40px;
                height: 40px;
                color: var(--mainDarkBlue);
                font-weight: bold;
                font-size: 24px;
                transition: 0.6s ease;
                border: 3px var(--mainDarkBlue) solid;
                border-radius: 100px;
                user-select: none;
                text-align: center;
                transition: transform .2s;
                &:hover{
                    background-color: var(--mainDarkBlue);
                    color: white;
                }
            }
            .prev{
                &:hover{
                    transform: translate(-5px, 0);
                }
            }
            .next{
                &:hover{
                    transform: translate(5px, 0);
                }
            }
            .dot {
                cursor: pointer;
                height: 10px;
                width: 10px;
                margin: 0 3px;
                background-color: var(--mainDarkBlueAlpha2);
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }
            
            .active, .dot:hover {
                background-color: var(--mainDarkBlueAlpha3);
            }
        }
    }
    @media (max-width: 750px){
        .article--diaporama{
            width: 100%;
            .article--diaporama__image{
                width: 100%;
                padding: calc(var(--mainMarginDesktop) / 2) calc(var(--mainMarginDesktop) / 2) 0 calc(var(--mainMarginDesktop) / 2);
                figure{
                    figcaption{
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}