.content .btn-post {
  margin-top: calc(var(--mainMarginDesktop) / 2);
}
.content .btn-post .wp-block-buttons {
  justify-content: space-evenly;
}
.content .btn-post .wp-block-buttons .btn--website a {
  transition: transform 0.5s;
  background-color: var(--mainGreen);
  color: var(--mainDarkBlue);
}
.content .btn-post .wp-block-buttons .btn--website a:hover {
  transform: scale(1.1);
}
.content .btn-post .wp-block-buttons .btn--behance a {
  transition: transform 0.5s;
  background-color: white;
  color: var(--mainDarkGreen);
  border: solid 2px var(--mainDarkGreen);
}
.content .btn-post .wp-block-buttons .btn--behance a:hover {
  transform: scale(1.1);
}
.content .btn-post .wp-block-buttons > div {
  margin-right: calc(var(--mainMarginDesktop) / 2);
  margin-left: calc(var(--mainMarginDesktop) / 2);
  margin-top: calc(var(--mainMarginDesktop) / 2);
}
.content .article--diaporama {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content .article--diaporama .article--diaporama__image {
  background-color: var(--mainDarkGreen);
  width: 90%;
  padding: var(--mainMarginDesktop) var(--mainMarginDesktop) 0 var(--mainMarginDesktop);
  border-radius: 20px;
}
.content .article--diaporama .article--diaporama__image figure {
  margin: 0;
}
.content .article--diaporama .article--diaporama__image figure img {
  margin-bottom: var(--mainMarginDesktop);
  margin-right: auto;
  margin-left: auto;
}
.content .article--diaporama .article--diaporama__image figure figcaption {
  text-align: center;
  color: white;
}
.content .article--diaporama .article--diaporama__animation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 75%;
  margin-top: calc(var(--mainMarginDesktop) / 2);
}
.content .article--diaporama .article--diaporama__animation .prev, .content .article--diaporama .article--diaporama__animation .next {
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: var(--mainDarkBlue);
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border: 3px var(--mainDarkBlue) solid;
  border-radius: 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  transition: transform 0.2s;
}
.content .article--diaporama .article--diaporama__animation .prev:hover, .content .article--diaporama .article--diaporama__animation .next:hover {
  background-color: var(--mainDarkBlue);
  color: white;
}
.content .article--diaporama .article--diaporama__animation .prev:hover {
  transform: translate(-5px, 0);
}
.content .article--diaporama .article--diaporama__animation .next:hover {
  transform: translate(5px, 0);
}
.content .article--diaporama .article--diaporama__animation .dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 3px;
  background-color: var(--mainDarkBlueAlpha2);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.content .article--diaporama .article--diaporama__animation .active, .content .article--diaporama .article--diaporama__animation .dot:hover {
  background-color: var(--mainDarkBlueAlpha3);
}
.content .wp-block-embed-youtube {
  background-color: black;
  width: 90%;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: calc(var(--mainMarginDesktop) / 2);
  margin-top: calc(var(--mainMarginDesktop) / 2);
}
.content .wp-block-embed-youtube .wp-block-embed__wrapper {
  display: flex;
  justify-content: center;
}
.content .wp-block-embed-youtube .wp-block-embed__wrapper iframe {
  width: 90%;
  border-radius: 20px;
}
.content .wp-block-audio {
  margin-bottom: calc(var(--mainMarginDesktop) / 2);
  margin-top: calc(var(--mainMarginDesktop) / 2);
}
.content .wp-block-audio audio {
  min-width: 0;
}
.content .wp-block-audio audio::-webkit-media-controls-panel {
  background-color: var(--mainGreen);
}
.content .related_posts {
  border-top: solid 3px var(--mainDarkGreen);
  margin-top: calc(var(--mainMarginDesktop) * 2);
  margin-bottom: calc(var(--mainMarginDesktop));
}
.content .related_posts h2 {
  color: var(--mainDarkBlue);
  font-size: 2rem;
  margin-top: calc(var(--mainMarginDesktop) / 2);
}
.content .related_posts ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.content .related_posts ul li {
  width: var(--mainSizeBasic);
  margin-right: calc(var(--mainMarginDesktop) / 2);
  margin-left: calc(var(--mainMarginDesktop) / 2);
  margin-top: calc(var(--mainMarginDesktop) / 2);
}
.content .related_posts ul li div a img {
  width: var(--mainSizeBasic);
  height: var(--mainSizeBasic);
  border-radius: 20px;
  transition: transform 0.5s;
}
.content .related_posts ul li div a img:hover {
  transform: scale(1.05);
}
.content .related_posts ul li div h4 {
  margin: 10px 0 0 0;
  text-align: center;
}
@media (max-width: 1400px) {
  .content .related_posts {
    margin-bottom: 0;
  }
}
@media (max-width: 900px) {
  .content .related_posts h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 750px) {
  .content .article--diaporama {
    width: 100%;
  }
  .content .article--diaporama .article--diaporama__image {
    width: 100%;
    padding: calc(var(--mainMarginDesktop) / 2) calc(var(--mainMarginDesktop) / 2) 0 calc(var(--mainMarginDesktop) / 2);
  }
  .content .article--diaporama .article--diaporama__image figure figcaption {
    font-size: 0.8rem;
  }
  .content .article--diaporama .article--diaporama__animation {
    width: 100%;
  }
  .content .wp-block-embed-youtube {
    width: 100%;
  }
  .content .wp-block-audio audio::-webkit-media-controls-current-time-display {
    font-size: 0.7rem;
  }
  .content .wp-block-audio audio::-webkit-media-controls-time-remaining-display {
    font-size: 0.7rem;
  }
}
@media (max-width: 450px) {
  .content .related_posts h2 {
    font-size: 1.2rem;
  }
}
@media (min-width: 1900px) {
  .content .btn-post .wp-block-buttons .btn--website a {
    font-size: 1.8rem;
  }
  .content .btn-post .wp-block-buttons .btn--behance a {
    font-size: 1.8rem;
  }
  .content .article--diaporama .article--diaporama__image figure figcaption {
    font-size: 1.5rem;
  }
  .content .article--diaporama .article--diaporama__animation {
    width: 75%;
  }
  .content .article--diaporama .article--diaporama__animation .prev, .content .article--diaporama .article--diaporama__animation .next {
    width: 60px;
    height: 60px;
    font-size: 2.2rem;
  }
  .content .article--diaporama .article--diaporama__animation .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 3px;
  }
  .content .wp-block-audio audio::-webkit-media-controls-current-time-display {
    font-size: 1.5rem;
  }
  .content .wp-block-audio audio::-webkit-media-controls-time-remaining-display {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=post.css.map */